.inputField {
  & > div {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    & > div {
      width: 150px;
    }
    & input {
      border-radius: 4px;
      padding: 10px 4px;
      border: 1px solid #c4c4c4;
      flex: 1;
    }
  }
}
