.sectionThree {
  min-height: 30vh;
  margin: 2rem ;
}

.sectionThree > div {
  margin: 3rem 2rem;
}

.sectionThree > div > div:nth-of-type(1) {
  font-weight: 700;
  font-size: 18px;
}
.sectionThree > div > div:nth-of-type(2) {
  display: flex;
  gap: 1rem;
  overflow: scroll;
}

.sectionThree > div > div:nth-of-type(2)::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sectionThree > div > div:nth-of-type(2) {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
